---
- name: Check if node already joined cluster
  stat:
    path: /etc/kubernetes/kubelet.conf
  register: kubelet_conf_check
  
# - name: Read join command from local file
#   local_action: slurp src=./join-command.txt
#   register: join_cmd_file
#   run_once: true
#   become: no

# - name: Set join command variable
#   set_fact:
#     join_command: "{{ join_cmd_file.content | b64decode | trim }}"
#   run_once: true

- name: Join worker to Kubernetes cluster
  command: "{{ join_command }}"
  register: join_result
  when: not kubelet_conf_check.stat.exists
  ignore_errors: yes

- name: Show join output
  debug:
    var: join_result
  when: join_result is defined