---
# Add specific worker nodes to existing Kubernetes cluster
# Usage: Uncomment specific workers in k8s_new_workers group in inventory
- name: Setup specific new worker nodes
  hosts: k8s_new_workers
  become: yes
  roles:
    - common
    - containerd
    - kubernetes/install

- name: Generate join command from master
  hosts: k8s_masters[0]
  become: yes
  roles:
    - kubernetes/join
  tags: always

- name: Join specific workers to cluster
  hosts: k8s_new_workers
  become: yes
  roles:
    - kubernetes/worker