---
- name: Clean entire cluster (masters + workers)
  hosts: all
  become: yes
  tasks:
    - name: Reset kubeadm
      shell: kubeadm reset -f
      ignore_errors: yes

    - name: Remove CNI configuration
      file:
        path: /etc/cni/net.d
        state: absent

    - name: Remove kube config
      file:
        path: "{{ ansible_env.HOME }}/.kube"
        state: absent

    - name: Remove admin kube config
      file:
        path: /root/.kube
        state: absent

    - name: Remove etcd data
      file:
        path: /var/lib/etcd
        state: absent

    - name: Restart kubelet
      systemd:
        name: kubelet
        state: restarted

    - name: Restart containerd
      systemd:
        name: containerd
        state: restarted

    - name: Clean iptables
      shell: |
        iptables -F
        iptables -t nat -F
        iptables -t mangle -F
        iptables -X
      ignore_errors: yes