---
- name: Remove existing Docker repository file
  file:
    path: /etc/apt/sources.list.d/docker.list
    state: absent

- name: Install required packages for containerd
  apt:
    name: "{{ item }}"
    state: present
    update_cache: no
  loop: 
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg
    - lsb-release

- name: Add Docker's official GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Set up the Docker repository
  apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
    filename: docker

- name: Install containerd
  apt:
    name: containerd.io
    state: present
    update_cache: yes
    
- name: Create containerd config directory
  file:
    path: /etc/containerd
    state: directory

- name: Create default containerd configuration file
  command: containerd config default
  register: containerd_config

- name: Write containerd configuration to file
  copy:
    dest: /etc/containerd/config.toml
    content: "{{ containerd_config.stdout }}"
  notify: restart containerd

- name: Update Cgroup driver to systemd
  lineinfile:
    path: /etc/containerd/config.toml
    regexp: '^\s*SystemdCgroup\s*=\s*false'
    line: '            SystemdCgroup = true'
    backrefs: yes
  notify: restart containerd

- name: Enable and start containerd service
  systemd:
    name: containerd
    enabled: yes
    state: started