---
- name: Join worker nodes to Kubernetes cluster
  hosts: masters[1:]
  become: yes
  tasks:

    - name: Read join command from local file
      local_action: slurp src=./join-command-master.txt
      register: join_cmd_file
      run_once: true
      become: no

    - name: Set join command variable
      set_fact:
        join_command: "{{ join_cmd_file.content | b64decode | trim }}"
      run_once: true

    - name: Check if node already joined cluster
      stat:
        path: /etc/kubernetes/admin.conf
      register: admin_conf_check

    - name: Join master to Kubernetes cluster
      command: "{{ join_command }}"
      register: join_result
      when: not admin_conf_check.stat.exists

    - name: Show join output
      debug:
        var: join_result
      when: join_result is defined

    - name: Create .kube directory for user
      file:
        path: "/home/{{ ansible_user }}/.kube"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0755'

    - name: Copy admin.conf to user kube config
      copy:
        src: /etc/kubernetes/admin.conf
        dest: "/home/{{ ansible_user }}/.kube/config"
        remote_src: yes
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0644'


