---
- name: Generate the kubeadm join command for worker nodes
  shell: kubeadm token create --print-join-command
  register: join_cmd

- name: Set join command as fact for all hosts
  set_fact:
    join_command: "{{ join_cmd.stdout }}"
  delegate_to: "{{ item }}"
  delegate_facts: true
  loop: "{{ groups['all'] }}"

# - name: Save the join command to a local file for later use
#   local_action: copy content="{{ join_cmd.stdout }}" dest="./join-command.txt"
#   run_once: true
#   become: no